In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
# create postgres connection
from sqlalchemy import create_engine
conn_postgres = 'postgresql://postgres:password@localhost/postgres'
engine_postgres = create_engine(conn_postgres, echo=False)

In [6]:
# load event data
events_data = pd.read_sql('select user_id, transfer_speed, size from public."event" where direction=\'upload\'', conn_postgres)

In [12]:
# convert size from byte to GB
events_data['size'] = events_data['size']/10**6

In [15]:
# split data based on storage size
events_data_big = events_data[events_data['size']>=10]
events_data_small = events_data[events_data['size']<10]

In [16]:
# get descriptive statistics for size >= 10 MB
events_data_big.describe()

       transfer_speed         size
count     3995.000000  3995.000000
mean      6245.196179    19.609758
std       2292.935360     9.654830
min        184.991013    10.001671
25%       4161.550557    11.722179
50%       6308.936370    15.138816
75%       8273.948418    26.705920
max       9999.548026    64.080196

In [18]:
# get descriptive statistics for size < 10 MB
events_data_small.describe()

       transfer_speed           size
count   276923.000000  276923.000000
mean       748.323141       0.889346
std       1523.310796       1.656709
min          0.000139       0.000001
25%         10.111646       0.010682
50%         57.306736       0.084152
75%        701.394532       0.900629
max       9997.905252       9.997423

In [19]:
#  group events by user_id
events_data_big_grouped = events_data_big.groupby(['user_id']).mean()
events_data_small_grouped = events_data_small.groupby(['user_id']).mean()

In [23]:
# join small and big size events
events_data_grouped = events_data_big_grouped.join(events_data_small_grouped, how='inner', lsuffix='_big', 
                                                   rsuffix='_small')

In [25]:
# for each user compute the difference in average transfer_speed between big and small files
events_data_grouped['transfer_speed_diff'] = events_data_grouped['transfer_speed_big'] - events_data_grouped['transfer_speed_small']
events_data_grouped.head()

,transfer_speed_big,size_big,transfer_speed_small,size_small,transfer_speed_diff
user_id,,,,,
0204111b-0d86-4b72-98a7-363ad0e9e769,8633.614279,12.923921,1305.472198,1.442779,7328.142081
05552491-f52e-4bce-bde8-ff4197718280,6857.265171,17.347437,269.216046,0.684235,6588.049125
09396d34-f5e6-4399-bb10-fac5ae94473a,6154.248093,12.082273,676.933298,1.332696,5477.314795
0a798753-ab20-4e06-8d03-acf1c39dca32,9523.803329,10.452947,559.857947,0.619801,8963.945382
10126518-0d8f-40ef-89d7-e08e53449092,5361.366151,21.129144,172.049466,0.112199,5189.316685

In [26]:
# get descriptive statistics for grouped data
events_data_grouped.describe()

,transfer_speed_big,size_big,transfer_speed_small,size_small,transfer_speed_diff
count,72.000000,72.000000,72.000000,72.000000,72.000000
mean,6882.090006,15.006707,1256.407895,1.853610,5625.682111
std,1956.147908,4.751649,1248.227283,1.719433,2170.009700
min,1014.946684,10.091139,0.051672,0.000224,-904.282122
25%,6076.355694,11.812637,346.754365,0.524096,4604.537004
50%,6944.546666,13.548050,762.715963,1.435665,5875.199232
75%,8229.591429,16.994940,1906.266513,2.797238,7320.524139
max,9922.995567,33.680043,6411.207297,7.848870,9213.666913