In [1]:
import pandas as pd
import os

In [2]:
#load events data
events_path = os.path.join('../data', 'events.csv')
events_usecols = ['direction', 'size', 'status', 'timestamp', 'client.user_id','time.backend']

events_data = pd.read_csv(events_path, usecols=events_usecols)
events_data = events_data.rename(columns={'client.user_id': 'client_user_id','time.backend': 'time_backend'})

In [4]:
# inspect the data
events_data.head()

,direction,size,status,timestamp,client_user_id,time_backend
0,upload,131407,success,1651292104294,b949f0af-f46a-4b89-aaab-48ad788bdea3,1803
1,upload,4508141,success,1651292105362,c7646e9f-6698-41dc-a3ee-90c8d9eb7feb,855
2,upload,89976,success,1651292107281,b949f0af-f46a-4b89-aaab-48ad788bdea3,2203
3,upload,131368,success,1651292108717,b949f0af-f46a-4b89-aaab-48ad788bdea3,1813
4,upload,100992,success,1651292111561,b949f0af-f46a-4b89-aaab-48ad788bdea3,2137

In [6]:
events_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341399 entries, 0 to 341398
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   direction       341399 non-null  object
 1   size            341399 non-null  int64
 2   status          341399 non-null  object
 3   timestamp       341399 non-null  int64
 4   client_user_id  341399 non-null  object
 5   time_backend    341399 non-null  int64
dtypes: int64(3), object(3)
memory usage: 15.6+ MB

In [8]:
events_data.describe()

               size     timestamp  time_backend
count  3.413990e+05  3.413990e+05  3.413990e+05
mean   1.033448e+06  1.651401e+12  5.177738e+04
std    2.750060e+06  7.367239e+07  1.470133e+07
min    1.000000e+00  1.651270e+12  1.080000e+02
25%    1.144850e+04  1.651330e+12  7.050000e+02
50%    9.388700e+04  1.651410e+12  1.049000e+03
75%    8.381815e+05  1.651476e+12  1.593000e+03
max    6.408020e+07  1.651514e+12  4.294967e+09

In [23]:
# load events data calling /ingest api
import json
import requests
for i in range(len(events_data)):
    event = json.loads(events_data.iloc[i].to_json())
    r = requests.post('http://127.0.0.1:8000/ingest/', data=event)
    if not r.status_code == requests.codes.created:
        print('error inserting event', i, 'event: ', event, 'response:', r)
    if i%1000 == 0:
        print("request n", i)

request n 0
request n 1000
request n 2000
request n 3000
request n 4000
request n 5000
request n 6000
request n 7000
request n 8000
request n 9000
request n 10000
request n 11000
request n 12000
request n 13000
request n 14000
request n 15000
request n 16000
request n 17000
request n 18000
request n 19000
request n 20000
request n 21000
request n 22000
request n 23000
request n 24000
request n 25000
request n 26000
request n 27000
request n 28000
request n 29000
request n 30000
request n 31000
request n 32000
request n 33000
request n 34000
request n 35000
request n 36000
request n 37000
request n 38000
request n 39000
request n 40000
request n 41000
request n 42000
request n 43000
request n 44000
request n 45000
request n 46000
request n 47000
request n 48000
request n 49000
request n 50000
request n 51000
request n 52000
request n 53000
request n 54000
request n 55000
request n 56000
request n 57000
request n 58000
request n 59000
request n 60000
request n 61000
request n 62000
request n 63000
request n 64000
request n 65000
request n 66000
request n 67000
request n 68000
request n 69000
request n 70000
request n 71000
request n 72000
request n 73000
request n 74000
request n 75000
request n 76000
request n 77000
request n 78000
request n 79000
request n 80000
request n 81000
request n 82000
request n 83000
request n 84000
request n 85000
request n 86000
request n 87000
request n 88000
request n 89000
request n 90000
request n 91000
request n 92000
request n 93000
request n 94000
request n 95000
request n 96000
request n 97000
request n 98000
request n 99000
request n 100000
request n 101000
request n 102000
request n 103000
request n 104000
request n 105000
request n 106000
request n 107000
request n 108000
request n 109000
request n 110000
request n 111000
request n 112000
request n 113000
request n 114000
request n 115000
request n 116000
request n 117000
request n 118000
request n 119000
request n 120000
request n 121000
request n 122000
request n 123000
request n 124000
request n 125000
request n 126000
request n 127000
request n 128000
request n 129000
request n 130000
request n 131000
request n 132000
request n 133000
request n 134000
request n 135000
request n 136000
request n 137000
request n 138000
request n 139000
request n 140000
request n 141000
request n 142000
request n 143000
request n 144000
request n 145000
request n 146000
request n 147000
request n 148000
request n 149000
request n 150000
request n 151000
request n 152000
request n 153000
request n 154000
request n 155000
request n 156000
request n 157000
request n 158000
request n 159000
request n 160000
request n 161000
request n 162000
request n 163000
request n 164000
request n 165000
request n 166000
request n 167000
request n 168000
request n 169000
request n 170000
request n 171000
request n 172000
request n 173000
request n 174000
request n 175000
request n 176000
request n 177000
request n 178000
request n 179000
request n 180000
request n 181000
request n 182000
request n 183000
request n 184000
request n 185000
request n 186000
request n 187000
request n 188000
request n 189000
request n 190000
request n 191000
request n 192000
request n 193000
request n 194000
request n 195000
request n 196000
request n 197000
request n 198000
request n 199000
request n 200000
request n 201000
request n 202000
request n 203000
request n 204000
request n 205000
request n 206000
request n 207000
request n 208000
request n 209000
request n 210000
request n 211000
request n 212000
request n 213000
request n 214000
request n 215000
request n 216000
request n 217000
request n 218000
request n 219000
request n 220000
request n 221000
request n 222000
request n 223000
request n 224000
request n 225000
request n 226000
request n 227000
request n 228000
request n 229000
request n 230000
request n 231000
request n 232000
request n 233000
request n 234000
request n 235000
request n 236000
request n 237000
request n 238000
request n 239000
request n 240000
request n 241000
request n 242000
request n 243000
request n 244000
request n 245000
request n 246000
request n 247000
request n 248000
request n 249000
request n 250000
request n 251000
request n 252000
request n 253000
request n 254000
request n 255000
request n 256000
request n 257000
request n 258000
request n 259000
request n 260000
request n 261000
request n 262000
request n 263000
request n 264000
request n 265000
request n 266000
request n 267000
request n 268000
request n 269000
request n 270000
request n 271000
request n 272000
request n 273000
request n 274000
request n 275000
request n 276000
request n 277000
request n 278000
request n 279000
request n 280000
request n 281000
request n 282000
request n 283000
request n 284000
request n 285000
request n 286000
request n 287000
request n 288000
request n 289000
request n 290000
request n 291000
request n 292000
request n 293000
request n 294000
request n 295000
request n 296000
request n 297000
request n 298000
request n 299000
request n 300000
request n 301000
request n 302000
request n 303000
request n 304000
request n 305000
request n 306000
request n 307000
request n 308000
request n 309000
request n 310000
request n 311000
request n 312000
request n 313000
request n 314000
request n 315000
request n 316000
request n 317000
request n 318000
request n 319000
request n 320000
request n 321000
request n 322000
request n 323000
request n 324000
request n 325000
request n 326000
request n 327000
request n 328000
request n 329000
request n 330000
request n 331000
request n 332000
request n 333000
request n 334000
request n 335000
request n 336000
request n 337000
request n 338000
request n 339000
request n 340000
request n 341000

In [24]:
# create sqlite connection
from sqlite3 import connect
sqlite_path = '../cubbit_django/db.sqlite3'
conn_sqlite = connect(sqlite_path)

In [25]:
# read events data from sqlite
events_data_sqlite = pd.read_sql('select * from data_ingestion_event', conn_sqlite)

In [26]:
# inspect the data
events_data_sqlite.head()

,id,client_user_id,timestamp,size,time_backend,status,direction
0,125828,b949f0af-f46a-4b89-aaab-48ad788bdea3,1651292104294,131407,1803,success,upload
1,125829,c7646e9f-6698-41dc-a3ee-90c8d9eb7feb,1651292105362,4508141,855,success,upload
2,125830,b949f0af-f46a-4b89-aaab-48ad788bdea3,1651292107281,89976,2203,success,upload
3,125831,b949f0af-f46a-4b89-aaab-48ad788bdea3,1651292108717,131368,1813,success,upload
4,125832,b949f0af-f46a-4b89-aaab-48ad788bdea3,1651292111561,100992,2137,success,upload

In [27]:
# check that all rows have been inserted
query_count_res = pd.read_sql('select COUNT(*) as count from data_ingestion_event', conn_sqlite)
inserted_rows = query_count_res['count'].iloc[0]
rows_to_be_inserted = len(events_data)
inserted_rows, rows_to_be_inserted

(341399, 341399)